body{
	margin: 0px;
	padding: 0 50px;
	max-width: 1400px;
}
.maxw{
	max-width: 1400px;
}
*{
	font-family: 'Raleway', sans-serif;
	list-style: none;
	text-decoration: none;
	color: black;
}
h1{
	font-size: 22px;
	font-weight: 700;
}
h2{
	font-size: 22px;
	font-weight: 700;
}
h3{
	font-size: 18px;
	font-weight: 700;
}
header{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.booki_logo{
	height: 19px;
}
nav ul{
	display: flex;
	justify-content: flex-end;
}
ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	font-size: 16px;
	font-weight: 500;
	margin: 0;
}
li:hover{
	color: #0065FC;
	border-top: 2px solid #0065FC;
}
li{
	padding: 20px;
}
#hbaslogo{
	font-size: 22px;
	font-weight: bolder;
	padding-top: 23px;
}
#vilnat{
	margin-top: -0.5em;
}
.fa-location-dot{
	padding: 17px;
	background-color: #F2F2F2;
	border-radius: 15px 0px 0px 15px;
}
#searchb{
	height: 42px;
	font-style: normal;
	font-size: 18px;
	font-weight: 700;
	border: 3px solid #F2F2F2;
	border-right: none;
	padding-left: 10px;
}
#searchb::placeholder{
    color: black;
}
#bluebuton{
	height: 50px;
	border-radius: 0px 15px 15px 0px;
	background-color: #0065FC;
	color: white;
	border: none;
	font-size: 18px;
	font-weight: 700;
	padding: 15px 16px;
}
.fa-magnifying-glass{
	display: none;
}
.align{
	justify-content: center;
	align-items: center;
}
.filtres{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 21px;
}
.filtres form{
	width: 100%;
}
#hfiltres{
	margin-right: 30px;
	font-size: 18px;
	font-weight: 700;
}
.fa-money-bill-wave, .fa-person, .fa-heart, .fa-dog{
	color: #0065FC;
}

#p_info{
	margin-bottom: 35px;
}
.iconfiltre{
	margin-right: 10px;
}
.ibord{
	border: 2px solid #D9D9D9;
	border-radius: 25px;
	margin-right: 30px;
	font-size: 17px;
	font-weight: 700;
	color: black;
	padding: 10px 20px;
}
.ibord:hover{
	background-color: #DEEBFF;
}
.fa-info{
	margin-top: 20px;
	color: #0065FC;
	border: 1px solid #D9D9D9;
	border-radius: 24px;
	padding: 7px 12px;
	font-size: 16px;
	margin-right: 10px;
}
#info{
	margin-bottom: 30px;
	display: flex;
}
.blocardheb{
	width: 96.5%;
	background-color: #F2F2F2;
	border-radius: 20px;
}
.h_hebmars{
	padding-top: 15px;
	padding-left: 50px;
}
.pic-hebmars{
	width: 100%;
	height: 124px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}
.cardtop{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 30px;
	padding: 0 40px;
}
.cardbas{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 40px;
}
.cardheb{
	width: 29%;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 0 5px 5px lightgrey;
	background-color: white;
}
.h_card{
	margin-top: 15px;
	font-size: 16px;
	font-weight: 700;
}
.p_card{
	margin-top: -15px;
}
.fa-star{
	color: #0065FC;
}
.gstar{
	color: #F2F2F2;
}
.etoiles{
	padding-bottom: 10px;
	margin-top: -10px;
}
.card1{
	object-fit: contain;
	padding-left: 15px;
	margin-top: -10px;
}
#h_affplus{
	padding-left: 50px;
	padding-top: 25px;
	font-size: 18px;
	font-weight: 700;
}
.pic-popu{
	border-radius: 20px 0 0 20px;
	width: 100%;
	height: 144px;
	object-fit: cover;
}
.blocardpopu{
	margin-left: 3.5%;
	background-color: #F2F2F2;
	border-radius: 20px;
}
.card{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.cardpopu{
	display: flex;
	flex-direction: row;
	border: 5px solid white;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0 5px 5px lightgrey;
	margin-bottom: 30px;
}
.linkpop{
	width: 37%;
}
.troiscardpop{
	padding: 0 40px;
	object-fit: contain;
	display: flex;
	flex-direction: column;
}
.bloc3cardacti{
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	width: 100%;
}
.card3{
	object-fit: contain;
	padding-left: 15px;
	width: 63%;
	box-sizing: border-box;
}
#h_plupop{
	display: flex;
	align-items: center;
	padding-right: 50px;
	justify-content: space-between;
}
.petoiles{
	display: flex;
}
#h_act{
	margin-top: 55px;
}
.fa-chart-line{
	color: #0065FC;
	margin-top: 20px;
}
.h_cardacti{
	margin-left: 15px;
	font-size: 16px;
	font-weight: 700;
}
.pic-acti{
	width: 100%;
	height: 445px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}
.cardacti{
	width: 23%;
	border-radius: 20px;
	box-shadow: 0 5px 5px lightgrey;
}
.footer{
	width: 100%;
	height: 225px;
	background-color: #F2F2F2;
}
.blocfooter{
	display: flex;
	justify-content: space-around;
}
.a_propos, .nos_heb, .assist{
	width: 25%;
	margin-top: 25px;
	margin-right: -10%;
}

.nos_heb{
	padding-right: 0%;
}
.assist{
	margin-right: 0%;
}
.h_footer{
	font-size: 18px;
	font-weight: 700;
}
@media screen and (min-width: 768px) {
	.filtres_tel{
		display: none;
	}
}
@media screen and (max-width: 991px) {
	.card{
		flex-direction: column;
		width: 100%;
	}
}
@media screen and (max-width: 991px) {
	.blocardheb{
		width: 100%;
		padding-bottom: 2%;
	}
}	
	@media screen and (max-width: 991px) {
	.blocardpopu{
		margin-top: 50px;
		margin-left: 0;
		width: 100%;
	}
}	
@media screen and (max-width: 991px) {
	.bloc3cardacti{
		width: 100%;
	}
	.troiscardpop{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.ibord{
		font-size: 13px;
		margin-right: 1%;
	}
	#hfiltres{
		margin-right: 15px;
		font-size: 17px;
	}	
	.cardpopu{
		max-width: 30%;
	}
	.pic-acti{
		height: 260px;
	}
	.h_cardacti{
		margin-top: 5%;
		margin-bottom: 3%;
	}
	#h_act{
		margin-bottom: 35px;
	}
	.fa-magnifying-glass{
		display: none;
	}

}
@media screen and (max-width: 768px){
	body{
		margin: 0px;
		padding: 0px;
	}
	.booki_logo{
		margin-top: 20px;
	}
	header{
		display: flex;
		flex-direction: column;
	}
	nav ul{
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
	}
	.nav{
		
	}
	li:hover{
	color: #0065FC;
	border-bottom: 2px solid #0065FC;
	border-top: none;
	width: 50%;
	}
	li{
	padding: 20px;
	}
	main{
		padding: 0 20px;
	}
	#searchb{
		width: -webkit-fill-available;
	}
	.align{
		width: 100%;
		display: flex;
		width: inherit;
	}
	#bluebuton{
		display: none;
	}
	.fa-magnifying-glass{
		padding: 17px;
		background-color: #0065FC;
		color: white;
		border-radius: 0 15px 15px 0;
		display: unset;
	}
	.filtres_pc{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.filtres{
		display: unset;
	}
	.ibord{
		width: 130px;
		padding-left: 2.5%;
		margin-bottom: 5%;
	}
	.iconfiltre{
		margin-right: 5px;
	}
	fa-person{

	}
	.fa-heart, .fa-dog{
		display: unset;
	}
	#p_info{
		margin-bottom: -3%;
	}
	.h_hebmars{
		padding-left: 20px;
	}
	.blocardpopu{
		border-radius: 0px;
		order: -1;
	}
	.troiscardpop{
		display: flex;
		flex-direction: column;
		padding: 0 20px;
	}
	.cardpopu{
		max-width: 100%;
	}
	.card3{
;
	}
	#h_plupop{
		padding-right: 4%;
	}
	.pic-popu{
		width: 100%;
		height: 144px;
	}
	.popu_hp{
		width: 100%;
	}
	.cardtop{
		display: flex;
		flex-direction: column;
		margin-bottom: 0px;
		padding: 0 20px;
	}
	.cardbas{
		display: flex;
		flex-direction: column;
		margin: 0 20px;
	}
	.cardheb{
		min-width: 100%;
		margin-bottom: 15px;
		box-sizing: border-box;
	}
	#h_affplus{
		display: none;
	}
	.activite{
		padding: 0 20px;
	}
	#h_act{
		width: 32%;
		margin-bottom: 5px;
	}
	.bloc3cardacti{
		display: flex;
		flex-direction: column;
	}
	.cardacti{
		min-width: 100%;
		margin-bottom: 25px;
	}
	.pic-acti{
		height: 135px;
	}
	.h_cardacti{
		margin-top: 3%;
	}
	.blocardheb{
		background-color: white;
		width: 100%;
	}
	.blocfooter{
		display: flex;
		flex-direction: column;
	}
	.footer{
		height: 100%;
	}
	.a_propos, .nos_heb, .assist{
		margin-left: 30px;
		width: auto;
	}
}